.edit_button{
    width: 20%;
    height: 40px;
    background-color: #5FD1AC;
    color: #232931;
    margin: 5px 20px;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: 0.3s;
}

.edit_button:hover{
    background-color: #4CA88A;
    border: 2px solid #D6E4F0;
    cursor: pointer;
    transition: 0.3s;
}

.edit_button_alternative{
    width: 30px;
    height: 30px;
    background-color: #5FD1AC;
    color: white;
    margin: 4px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.3s;
}

.edit_button_alternative .edit_image{
    width: 16px;
    height: 16px;
}

.edit_button_alternative:hover{
    background-color: #4CA88A;
    border: 1px solid #D6E4F0;
    cursor: pointer;
    transition: 0.3s;
}

.edit_button:hover .edit_image{
    width: 21px;
    height: 21px;
    transition: 0.3s;
}

.edit_text{
    color: #232931;
}

.edit_image{
    width: 21px;
    height: 21px;
    display: none;
    /* transition: 0.3s; */
}

@media screen and (max-width: 800px) {
    .edit_button{
        width: 50px;
        height: 40px;
    }

    .edit_text{
        color: #000;
        display: none;
    }
    
    .edit_image{
        display: inline;
        width: 21px;
        height: 21px;
        margin-bottom: 2px;
        margin-left: 2px;
        /* transition: 0.3s; */
    }
}

@media screen and (max-width: 700px) {

    /* .edit_button{
        width: 30px;
        height: 30px;
        margin: 3px;
    }

    .edit_button:hover .edit_image{
        width: 16px;
        height: 16px;
    }
    
    .edit_image{
        width: 16px;
        height: 16px;
    }

    .edit_button_alternative{
        width: 26px;
        height: 26px;
    }
    
    .edit_button_alternative .edit_image{
        width: 14px;
        height: 14px;
    } */
}

@media screen and (max-width: 650px) {

    /* .edit_button{
        width: 99%;
        height: 35px;
        margin: 0;
        padding: 0;
        border: 1px solid transparent;
        border-radius: 0px;
    }

    .edit_button:hover{
        border: 1px solid #D6E4F0;
    }

    .edit_button:hover .edit_image{
        width: 15px;
        height: 15px;
    }
    
    .edit_image{
        width: 15px;
        height: 15px;
    } */
}