.background_modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.555);
    text-align: center;
    z-index: 3000;
}

.wrapper_modal{
    /* margin-left: 15vw; */
    /* top: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: calc(35vw + 10px); */
    width: 600px;
    height: fit-content;
    padding: 5px;
    background-color: #f6f6f6ee;
    border: 3px solid #1E56A0;
    box-shadow: 1px 1px 5px 3px #1E56A0;
    z-index: 3000;
}

.modal_title_text{
    font-size: 28px;
    padding-top: 5px;
}

.underline_text{
    /* text-decoration: underline #1E56A0 3px; */
    /* padding: 1px;
    padding-left: 3px;
    padding-right: 3px; */
    text-decoration: underline solid #1E56A0 4px;
    /* border: 3px solid #1E56A0; */
}

@media screen and (max-width: 1200px) {
    .modal_title_text{
        font-size: 18px;
        /* padding-top: 5px; */
    }

    .wrapper_modal{
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .modal_title_text{
        font-size: 16px;
        /* padding-top: 5px; */
    }

    .wrapper_modal{
        width: 300px;
    }
}