.radio_button{
    width: 100px;
    height: 35px;
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
    color: black;
    margin: 1px 3px;
    font-size: 15px;
}

.radio_button:hover{
    /* background-color: yellow; */
    /* transition: 0.6s linear; */
    cursor: pointer;
}

.is_selected{
    background-color: #163172;
    border: 1px solid #D6E4F0;
    color: #D6E4F0;
}

@media screen and (max-width: 1550px) {
    .radio_button{
        width: 80px;
        height: 30px;
        font-size: 11px;
    }
}

@media screen and (max-width: 1300px) {
    .radio_button{
        height: 25px;
        font-size: 10px;
    }
}